body{
	margin:0;
}

.d-flex{
	display: flex;
}
.flex-centered{
	display: flex;
	justify-content: center;align-items: center;
}
.flex-one{
	flex:1;
}
.d-none{
	display: none;
}
.align-center{
	align-items: center;
}

.align-end{
	align-items: flex-end;
}

.justify-center{
	justify-content: center;
}

.justify-end{
	justify-content: flex-end;
}

.justify-around{
	justify-content: space-around;
}
.justify-between{
	justify-content: space-between;
}
.justify-evenly{
	justify-content: space-evenly;
}

.flex-column{
	flex-direction: column;
}
.flex-wrap{
	flex-wrap: wrap;
}
.flex-column-reverse{
	flex-direction: column-reverse;
}
/*height and widths*/
.h-100{
	height:100%;
}

.h-50{
	height:50%;
}

.w-100{
	width:100%;
}

.w-50{
	width:50%;
}

/*margins and paddings*/
.my-5{
	margin:5vh 0;
}
.mt-5{
	margin-top:5vh;
}
/*main*/

main.wrapper{
	width:100%;
}

/*how it works page*/
.how-it-works{
	width:100%;
	height:100vh;
	padding:10vh 0;
	box-sizing: border-box;
}

.how-it-works-header .text-area{
	display:none;
	flex-direction: column;
	align-items: center;
	text-align: center;
	justify-content: center;
	height:100%;
	position: relative;
}
.how-it-works-header .text-area>*{
	color:white!important;
}

.how-it-works-header .text-area .background{
	position: absolute;
	top:0;
	left:0;
	z-index: -1;
	height:100%;
	width: 100%;
	padding:5vw 0;
	box-sizing: border-box;
}
.how-it-works .image-area{
	display:flex;
	width: 100%;
	flex:1;
	justify-content: space-between;
}

.how-it-works-content{
	overflow: hidden;
	width:30%;
	height:100%;
	padding:10px;
	display: flex;
	align-items: flex-end;
	box-sizing: border-box;
	position:relative;
}

.how-it-works-content img{
	position: absolute;
	top:0;
	left:0;
	filter:brightness(.78);
	height:100%;
	width: 100%;
	object-position: center;
	object-fit:cover;
}

.how-it-works-content h1{
	z-index: 1;
	position: relative;
	font-size:2rem;
}


section.flaunt{
	height:450px;
	width:100%;
	position: relative;
}

.flaunt{
	height:450px;
	width:100%;
	display: flex;
	justify-content: flex-end;
	padding:20px;
	box-sizing: border-box;
	margin:5vh 0;
}
.flaunt img{
	position: absolute;
	top:0;
	left:0;
	height:100%;
	width:100%;
	object-fit: cover;
	object-position: right top
}
.flaunt .text-area{
	z-index: 1;
	display: flex;height:100%;
	flex-direction: column;
	align-items: flex-end;
	justify-content: center;
	color:var(--light-color);
	width:50%;
	text-align: right;
}

.flaunt .title{
	font-size:3rem;
}

.flaunt button{
	padding:15px 30px;
	font-size:1.4rem;

}

/*profile section*/
section.profile{
	width:100%;
}
.profile-header{
	height:60vh;
	width:100%;
	position: relative;
	display: flex;
	align-items: flex-end;
}


.profile-header>img{
	position: absolute;
	height:40vh;
	width: 100%;
	object-position: center;
	object-fit: cover;
	top:0;
	left:0;
}
.profile-details{
	display: flex;
	padding-left:10vw;
	box-sizing: border-box;
	width:100%;
	z-index: 1;
	align-items:flex-end;
}
.profile-picture{
	position: relative;
	cursor: pointer;
}
.profile-picture:hover .change-profile{
	transform: translateY(0%);

}
.change-profile{
	transform: translateY(100%);
	z-index:99;
	transition: .3s;
	position: absolute;
	bottom:0;
	left:0;
	height:35%;
	width:100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background:rgba(0,0,0,0.5);
}
.change-profile img{
	height:45px;
	filter:invert(1);
}
.profile-primary-details{
	padding:0 2vw;
	box-sizing: border-box;
}

.profile-details .profile-picture{
	overflow: hidden;
	height:30vh;
	width:30vh;
	border-radius: 50%;
	border:3px solid var(--light-color);
	object-fit: cover;
	object-position: center;
}
.profile-details-area{
	flex:1;
	display: flex;
	justify-content: space-between;
}
.profile-primary-details-area{
	flex:1;
	height: 15vh;
	display: flex;
	justify-content: space-between;
}
.profile-primary-details .profile-tag{
	color:rgba(0,0,0,0.7);
}
.profile-content{
	margin:5vh 0;
}
.profile-content-area{
	display: flex;
	flex-wrap: wrap;
}
.profile-arts{
	width:150px;
	height:50px;
	text-align: center;
}
.profile-tabs{
	display: flex;
	width: 100%;
	margin:10px 0 20px;
}
.profile-tab{
	padding:10px 0;
	width:200px;
	font-weight: bold;
	font-size:1.4rem;
	text-transform: uppercase;
	position: relative;
	cursor: pointer;
}
.profile-tab.active::before{
	position: absolute;
	bottom:0;
	left:0;
	width:50px;
	height:5px;
	background:var(--primary-color);
	content:'';
}
.profile-content-area .collection-image-box{
	height:30vh;
	width:24.5%;
	margin:5px 0.66% 5px 0;
	cursor: pointer;
	position: relative;
}
.collection-image-box img{
	height:100%;
	width:100%;
	object-fit: cover;
	object-position: center;
	transition: .3s
}
.collection-image-box .image-actions{
	position: absolute;
	height:100%;
	width:100%;
	justify-content: center;
	z-index: 9;
	align-items: center;
	display: none;
}

.collection-image-box:hover .image-actions{
	display: flex;
}
.collection-image-box:hover img{
	filter:brightness(.6);
}
.image-action{
	margin:3px;
	display: flex;
	justify-content: center;
	align-items: center;
	height:40px;
	width:40px;
	border:1px solid var(--light-color);
	border-radius: 50%;
	color:white;
}

.profile-content-area .collection-image-box:nth-child(4n){
	margin-right: 0;
}

.image-light-box{
	display: none;
	height:100vh;
	width: 100%;
	position: fixed;
	z-index: 99;
	justify-content: center;
	align-items: center;
	top:0;
	flex-direction: column;
}
.profile-tab-content{
	display: none;
}
.profile-tab-content.active{
	display: flex;
}
.image-light-box .backdrop{
	position: absolute;
	height:100%;
	width:100%;
	background: rgba(0,0,0,0.5);
}
.light-box-image{
	height:60vh;
	width: 70vw;
	border:2px solid white;
	background:white;
	z-index: 1;
	animation:bmSlideDown .3s;
}

.light-box-title{
	z-index: 1
}

#uploadBox{
	display: flex;
	justify-content: center;
	align-items: center;
	position:fixed;
	height:100vh;
	width:100%;
	top:0;
	left: 0;
	z-index: 1000;

}

#uploadBox .background{
	height:100%;
	width: 100%;
	background:rgba(0,0,0,0.6);
	position: absolute;
	top:0;
	left:0;
}

#uploadBox.d-none{
	display: none;
}

.upload-card{
	display: flex;
	/*justify-content: center;*/
	/*align-items: center;*/
	flex-direction: column;
	padding:30px;
	height:90vh;
	box-sizing: border-box;
	background:white;
	z-index:3;
	animation:bmSlideDown .3s;
	position: relative;
}

.upload-btn{
	position: absolute;
	bottom:30px;
	right:30px;
	align-self:flex-end;
	margin-top:30px;
}

@media (max-width:768px){
	.how-it-works .image-area{
		flex-direction: column;
	}
	.how-it-works-content{
		width:100%;
		height:30%;
	}

	.how-it-works-header{
		height:100vh;
	}
	.how-it-works-header .text-area{
		display:flex;
	}
	.how-it-works-header .image-cover{
		display: none;
	}

	.flaunt .text-area{
		width:100%;
		align-items: center;
		text-align: center;
	}
	.flaunt .title{
		font-size:2rem;
	}
	.flaunt button{
		font-size:1.3rem;
	}


	/*profile*/

	.profile-header{
		height:75vh;
		align-items: flex-end;
		justify-content: center;
	}
	.profile-header>img{
		height:35vh;
	}
	.profile-details{
		flex-direction: column;
		padding-left:0;
		align-items: center;
		text-align: center;
	}
	.profile-details .btn{
		width:200px;
		margin:5vh 0;
	}
	.profile-primary-details-area{
		flex-direction: column;
		align-items: center;
	}
	.profile-tab{
		font-size:1rem;
		width:unset;
		padding-right:15px;
	}

	.profile-content-area .collection-image-box{
		height:15vh;
		width:32.5%;
		margin:3px 1.25% 3px 0;
	}
	.profile-content-area .collection-image-box:nth-child(3n){
		margin-right: 0;
	}
	.profile-content-area .collection-image-box:nth-child(4n){
		margin-right:1.25%;
	}

	.bm-container{
		width:35%;
	}

	.bm-form-group{
		flex-direction: column;
		align-items: flex-start;
		justify-content: flex-start;
	}

	.bm-form-group .bm-input{
		width:100%;
		box-sizing: border-box;

	}
}

