body{
	font-family: var(--primary-font)
}

.title{
	font-size:var(--title-font);
	font-weight: bold;
	color:var(--primary-color);
}
.uppercase{
	text-transform: uppercase;
}
.text-center{
	text-align: center;
}
.light-text{
	color:var(--light-color);
}
.bold{
	font-weight: bolder;
}
.wrapper{
	padding:var(--wrapper-padding);
	box-sizing: border-box;
}
.change-cover{
	position: absolute;
	top:5vh;
	left:5vh;
	z-index: 99;
}
.image-cover{
	height: 100%;
	width: 100%;
	object-fit: cover;
	object-position: center;
}

.btn{
	border:none;
	padding:10px 15px;
	font-family: var(--primary-font);
	background:rgba(0,0,0,0.12);
}

.btn.primary{
	background:var(--primary-color);
	color:var(--light-color);
}
.btn.light{
	color:var(--primary-color);
	background:var(--light-color);
}


/*dropzone*/
#drop-area {
	border: 2px dashed #ccc;
	border-radius: 20px;
	width: 100%;
	font-family: sans-serif;
	padding: 20px;
	box-sizing: border-box;
}
#drop-area.highlight {
	border-color: purple;
}
p {
	margin-top: 0;
}
.bm-form {
	margin-bottom: 10px;
}

.bm-form label{
	padding:20px;
	cursor: pointer;
	font-family: var(--primary-font);
}
#bm-gallery {
	margin-top: 10px;
	display: flex;
	justify-content: center;
}
#bm-gallery img {
	height: 100px;
	margin-bottom: 10px;
	margin-right: 10px;
	vertical-align: middle;
}
.button {
	display: inline-block;
	padding: 10px;
	background: #ccc;
	cursor: pointer;
	border-radius: 5px;
	border: 1px solid #ccc;
}
.button:hover {
	background: #ddd;
}
#fileElem {
	display: none;
}


/*form*/
.bm-form-group{
	display: flex;
	align-items: center;
}
.bm-form-group label{
	min-width:20%;
}

.bm-input{
	flex:1;
	display: flex;
	align-items: center;
	border:1px solid var(--primary-color);
	padding:10px 15px;
}

.bm-input input{
	flex:1;
	border:none;
}

.bm-input input:active,
.bm-input input:focus{
	outline:none;
}


/*checkbox custom*/
.bm-container {
	display: block;
	position: relative;
	padding-left: 35px;
	margin-bottom: 12px;
	box-sizing: border-box;
	cursor: pointer;
	font-size: 22px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/* Hide the browser's default checkbox */
.bm-container input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
}

/* Create a custom checkbox */
.bm-checkmark {
	position: absolute;
	top: 0;
	left: 0;
	height: 25px;
	width: 25px;
	background-color: #eee;
}

/* On mouse-over, add a grey background color */
.bm-container:hover input ~ .bm-checkmark {
	background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.bm-container input:checked ~ .bm-checkmark {
	background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.bm-checkmark:after {
	content: "";
	position: absolute;
	display: none;
}

/* Show the checkmark when checked */
.bm-container input:checked ~ .bm-checkmark:after {
	display: block;
}

/* Style the checkmark/indicator */
.bm-container .bm-checkmark:after {
	left: 9px;
	top: 5px;
	width: 5px;
	height: 10px;
	border: solid white;
	border-width: 0 3px 3px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}


/*animations */

@keyframes bmSlideDown{
	from{
		opacity: 0;
		transform: translateY(-100%);
	}to{
		 opacity: 1;
		 transform: translateY(0%);
	 }
}